{% if user_group == 'admin' %}
  {% if workflow_state == 0 %}
  <a href="{% url 'usage-state-draft' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
      <i class="fas fa-download"></i> ส่งตรวจสอบ</button>
  </a>
  {% elif workflow_state == 1 %}
  <a href="{% url 'usage-state-review1' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่บริษัท</button>
  </a>
  {% elif workflow_state == 2 %}
  <a href="{% url 'usage-state-review2' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่ สอน. ประจำโรงงาน</button>
  </a>
  {% elif workflow_state == 3 %}
  <a href="{% url 'usage-state-review3' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่ เขต</button>
  </a>
  {% elif workflow_state == 4 %}
  <a href="{% url 'usage-state-review4' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่ สบน.</button>
  </a>
  {% elif workflow_state == 5 %}
  <a href="{% url 'usage-state-review5' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่ กสช.</button>
  </a>
  <a href="{% url 'usage-state-reject' usage_id %}">
      <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
          <i class="fas fa-download"></i> ส่งแก้ไข</button>
  </a>
  {% endif %}
{% endif %}

{% if user_group == 'ent_officer' %}
  {% if workflow_state == 0 %}
  <a href="{% url 'usage-state-draft' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
      <i class="fas fa-download"></i> ส่งตรวจสอบ</button>
  </a>
  {% elif workflow_state == 1 %}
  <a href="{% url 'usage-state-review1' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่บริษัท</button>
  </a>
  {% endif %}
{% endif %}

{% if user_group == 'ocsb_officer' %}
  {% if workflow_state == 2 %}
  <a href="{% url 'usage-state-review2' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่ สอน. ประจำโรงงาน</button>
  </a>  
  {% endif %}
{% endif %}

{% if user_group == 'district_officer' %}
  {% if workflow_state == 3 %}
  <a href="{% url 'usage-state-review3' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่ เขต</button>
  </a>  
  {% endif %}
{% endif %}

{% comment %} ยืนยัน/รับทราบโดย เจ้าหน้าที่ สบน. {% endcomment %}
{% if user_group == 'pdmo_officer' %}
  {% if workflow_state == 4 %}
  <a href="{% url 'usage-state-review4' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่ สบน.</button>
  </a> 
  {% endif %}
{% endif %}

{% comment %} ยืนยัน/รับทราบโดย เจ้าหน้าที่ กสช. {% endcomment %}
{% if user_group == 'bio_officer' %}
  {% if workflow_state == 5 %}
  <a href="{% url 'usage-state-review5' usage_id %}">
    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
        <i class="fas fa-download"></i> ยืนยัน/รับทราบโดย เจ้าหน้าที่ กสช.</button>
  </a>
  <a href="{% url 'usage-state-reject' usage_id %}">
      <button type="button" class="btn btn-primary float-right" style="margin-right: 5px">
          <i class="fas fa-download"></i>ส่งแก้ไข</button>
  </a>
  {% endif %}
{% endif %}
