{% extends 'app_base/base.html' %} {% load static %} {% load widget_tweaks %}
<!-- Block page_header -->
{% block stylesheet %} {% endblock stylesheet %}

<!-- Block page_header -->
{% block page_header %}รายละเอียดคำขออนุญาตฯ {% endblock page_header %}
{% block page_header_right %}
  {% include "app_ocsb/include/button_request_state.html" %}
{% endblock page_header_right %}

<!-- Block page_header -->
{% block main_content %}
<section class="content">
  <!-- Default box -->
  <div class="card">
    <div class="card-header p-2">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link active" href="#tab01" data-toggle="tab">ข้อมูลคำร้อง</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab02" data-toggle="tab">รายการบันทึก</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab03" data-toggle="tab">เอกสารแนบ</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab04" data-toggle="tab">Time Line</a></li>
      </ul>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
          <i class="fas fa-minus"></i>
        </button>        
      </div>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="active tab-pane" id="tab01">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <h4>ฤดูกาลผลิตที่ขออนุญาตฯ</h4>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">ฤดูกาลผลิต</span>
                      {% comment %} <span class="info-box-number text-center text-muted mb-0">{{ query_object.season }} (ครั้งที่ {{ query_object.season_round }})</span> {% endcomment %}
                      <span class="info-box-number text-center text-muted mb-0">{{ query_object.season }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">    
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">เลขคำร้อง (ระบบ)</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ query_object.no_request }}</span>
                    </div>
                  </div>          
                </div>
                <div class="col-12 col-sm-3">     
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">เลขอนุญาต สอน.</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ query_object.no_ocsb }}</span>
                    </div>
                  </div>         
                </div>
                <div class="col-12 col-sm-3">       
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">ในหรือนอกฤดูการผลิต</span>
                      <span class="info-box-number text-center text-muted mb-0">
                        {% if query_object.is_season == 0 %}
                        ในฤดูการผลิต
                        {% else %}
                        นอกฤดูการผลิต
                        {% endif %}
                      </span>
                    </div>
                  </div>       
                </div>
              </div>       
              </br>
              <h4>ปริมาณขอใช้น้ำเชื่อมฯ</h4>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">ขอใช้ Syrub (ตัน)</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ query_object.total_syrup }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">ขอใช้ B-molasses (ตัน)</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ query_object.total_bmolasses }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">ขอใช้ B-molasses (ตัน)</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ query_object.total_cmolasses }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="info-box bg-light">
                      <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">ปริมาณขอใช้รวม (ตัน)</span>
                        <span class="info-box-number text-center text-muted mb-0">{{ query_object.total_amount }}</span>
                      </div>
                    </div>
                  </div>
              </div>
              {% comment %}  {% endcomment %}
                </br>
              <h4>ข้อมูลสถานประกอบการ</h4>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">ชื่อสถานประกอบการ</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ query_object.enterprise }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">ผู้บันทึกคำร้อง</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ query_object.user }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">วันที่ขออนุญาตฯ</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ query_object.date_request }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="info-box bg-light">
                      <div class="info-box-content">
                        <span class="info-box-text text-center text-muted">เลขหนังสือ สปก.</span>
                        <span class="info-box-number text-center text-muted mb-0">{{ query_object.no_enterprise }}</span>
                      </div>
                    </div>
                  </div>
              </div>   
              {% comment %}  {% endcomment %}
            </br>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">  
              <h5 class="mt-5 text-muted">จำหน่ายแก่โรงงาน</h5>
              <ul class="list-unstyled">
                {% for purchaser_record in purchaser_object %}
                <li>
                  <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image"></i> {{  purchaser_record.name }}</a>
                </li>              
                {% endfor %}           
              </ul>                           
            </div>
          </div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab02">
          <div class="row">
            <a href="{% url 'usage-form' request_id %}">
              <button type="button" class="btn btn-info">บันทึก รายงานผลรายวัน</button>
            </a>
            </br>
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>วันที่รายงาน</th>
                  <th>โรงงานที่ได้รับอนุญาต</th>
                  <th>โรงงานรับซื้อ</th>
                  <th>ชนิดของน้ำเชื่อม</th>
                  <th>เลขคำร้อง (ระบบ)</th>
                  <th>น้ำหนัก/ปริมาณน้ำเชื่อม (ตัน)</th>
                  <th style="width: 80px">สถานะ</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for record in query_usage %}
                <tr>
                  <td>{{ record.date_report }}</td>
                  <td>{{ record.enterprise }}</td>
                  <td>{{ record.purchaser }}</td>
                  <td>{{ record.get_syrup_type_display }}</td>
                  <td>{{ record.quota_request }}</td>
                  <td>{{ record.syrup_weight }}</td>
                  <td><span class="badge bg-info">{{ record.get_workflow_state_display }}</span></td>
                  <td>
                    <a href="{% url 'usage-detail' record.id %}" target="_blank">
                      <button type="button" class="btn btn-primary mr-1">ตรวจสอบ</button>
                    </a>
                    {% if record.workflow_state == 0 %}
                    <a href="{% url 'usage-update' record.id %}" target="_blank">
                      <button type="button" class="btn btn-info">แก้ไข</button>
                    </a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.tab-pane -->
        <!-- tab เอกสารแนบ -->
        <div class="tab-pane" id="tab03">          
          <!-- ตารางเอกสาร -->
          <div class="row">
            <table id="" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>เอกสาร</th>
                  <th style="width:10% text-align:left">Download File</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>หนังสือขออนุญาต สถานประกอบการ</td>
                  <td>
                    {% if query_object.file_request %}
                    <a href="{{ MEDIA_URL }}{{ query_object.file_request }}" target="_blank">
                    <button type="button" class="btn btn-block bg-gradient-success">
                      Download</button></a>
                    {% endif %}
                  </td>
                </tr>    
                <tr>
                  <td>หนังสือประสานคณะทำงานฯ ร่วมลงพื้นที่ตรวจสอบ</td>                  
                  <td>
                    {% if query_object.file_sitevisit %}
                    <a href="{{ MEDIA_URL }}{{ query_object.file_sitevisit }}" target="_blank">
                    <button type="button" class="btn btn-block bg-gradient-success">
                      Download</button></a>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>แบบตรวจสอบกระบวนการส่งถ่ายน้ำเชื่อมฯ</td>                  
                  <td>
                    {% if query_object.file_survey %}
                    <a href="{{ MEDIA_URL }}{{ query_object.file_survey }}" target="_blank">
                    <button type="button" class="btn btn-block bg-gradient-success">
                      Download</button></a>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>หนังสืออนุญาตฯ</td>                  
                  <td>
                    {% if query_object.file_approve %}
                    <a href="{{ MEDIA_URL }}{{ query_object.file_approve }}" target="_blank">
                    <button type="button" class="btn btn-block bg-gradient-success">
                      Download</button></a>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>เอกสารแนบ อื่นๆ</td>                  
                  <td></td>
                </tr>            
              </tbody>
            </table>
          </div>
          <!-- Form Upload เอกสาร -->
          <div class="row">
            <div class="col-md-6">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Upload File</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>                    
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="{{ form.file_request.id_for_label }}">{{ form.file_request.label }}</label>
                      {% render_field form.file_request class="form-control" placeholder=""%}
                    </div>
                    <div class="form-group">
                      <label for="{{ form.file_sitevisit.id_for_label }}">{{ form.file_sitevisit.label }}</label>
                      {% render_field form.file_sitevisit class="form-control" placeholder=""%}
                    </div>
                    <div class="form-group">
                      <label for="{{ form.file_survey.id_for_label }}">{{ form.file_survey.label }}</label>
                      {% render_field form.file_survey class="form-control" placeholder=""%}
                    </div>
                    <div class="form-groญิงสาวชื่อตอง ได้ให้สัมภาษณ์สื่อช่องหนึ่งถึงเหตุการณ์ที่เกิดขึ้นว่า ตนไม่อยากพูดเรื่องนี้แล้ว ซึ่งจริงๆ แล้วตนเองป่วยเป็นโรคไบโพลup">
                      <label for="{{ form.file_approve.id_for_label }}">{{ form.file_approve.label }}</label>
                      {% render_field form.file_approve class="form-control" placeholder=""%}
                    </div>
                    <button type="submit" class="btn btn-primary">Upload</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.tab เอกสารแนบ -->
        <!-- tab Time Line -->
        <div class="tab-pane" id="tab04">
          <div class="timeline timeline-inverse">
            <!-- timeline time label -->
            <div class="time-label">
              <span class="bg-danger">
                10 Feb. 2014
              </span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
              <i class="fas fa-envelope bg-primary"></i>

              <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i> 12:05</span>

                <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                <div class="timeline-body">
                  Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                  weebly ning heekya handango imeem plugg dopplr jibjab, movity
                  jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                  quora plaxo ideeli hulu weebly balihoo...
                </div>
                <div class="timeline-footer">
                  <a href="#" class="btn btn-primary btn-sm">Read more</a>
                  <a href="#" class="btn btn-danger btn-sm">Delete</a>
                </div>
              </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
              <i class="fas fa-user bg-info"></i>

              <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>

                <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your friend request
                </h3>
              </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline item -->
            <div>
              <i class="fas fa-comments bg-warning"></i>

              <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>
                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                <div class="timeline-body">
                  Take me to your leader!
                  Switzerland is small and neutral!
                  We are more like Germany, ambitious and misunderstood!
                </div>
                <div class="timeline-footer">
                  <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                </div>
              </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <div class="time-label">
              <span class="bg-success">
                3 Jan. 2014
              </span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
              <i class="fas fa-camera bg-purple"></i>
              <div class="timeline-item">
                <span class="time"><i class="far fa-clock"></i> 2 days ago</span>
                <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                <div class="timeline-body">
                  <img src="https://placehold.it/150x100" alt="...">
                  <img src="https://placehold.it/150x100" alt="...">
                  <img src="https://placehold.it/150x100" alt="...">
                  <img src="https://placehold.it/150x100" alt="...">
                </div>
              </div>
            </div>
            <!-- END timeline item -->
            <div>
              <i class="far fa-clock bg-gray"></i>
            </div>
          </div>
        </div>
        <!-- /.tab Time Line -->
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
{% endblock main_content %}

<!-- Block scripts -->
{% block scripts %}

{% endblock scripts %}
