{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="{% static 'app_base/images/ocsb-logo.jpg' %}" alt="OCSB Logo" class="brand-image img-circle elevation-3" style="opacity: 0.8" />
    <span class="brand-text font-weight-light">OCSB</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'app_base/adminlte/dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image" />
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ user.username }}</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-chart-pie"></i>            
            <p>
              หน้าหลัก
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'dashboard-ent' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dash Board(สปก.)</p>
              </a>
            </li>            
          </ul>
        </li>
        {% comment %} ขออนุญาตฯ {% endcomment %}
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              ขออนุญาตฯ
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'request-index' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>(new)ขออนุญาตฯ</p>
              </a>
            </li>            
            <li class="nav-item">
              <a href="{% url 'request-list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายการคำขออนุญาตฯ</p>
              </a>
            </li>
          </ul>
        </li>
        {% comment %} บันทึกข้อมูลการใช้น้ำเชื่อมเป็นวัตถุดิบฯ {% endcomment %}
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              บันทึกการใช้น้ำเชื่อมฯ
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">            
            <li class="nav-item">
              <a href="{% url 'usage-list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>แบบฟอร์มบันทึก</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'syrubusage-list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายการใช้น้ำเชื่อมฯ</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              รายงาน (สปก.)
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">            
            <li class="nav-item">
              <a href="{% url 'report-usage-01' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายงานที่ 1</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'report-usage-02' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายงานที่ 2</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'report-usage-03' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายงานที่ 3</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
